# All other changes require the primary team
* @gregtechceu/gregtech-modern-devs

# Specific files requiring admin approval
CODEOWNERS @gregtechceu/admin
LICENSE @gregtechceu/admin
/README.md @gregtechceu/admin
